version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - minio
      - clamav
      - mongodb
      - worker
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio_data:/data

  clamav:
    image: clamav/clamav:latest
    container_name: clamav
    ports:
      - "3310:3310"

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"

  worker:
    build: ./worker
    container_name: worker
    depends_on:
      - minio
      - clamav
      - mongodb
    env_file:
      - .env
