services:
  - type: web
    name: ai-file-analysis
    env: docker
    plan: free
    autoDeploy: true

    envVars:
      - key: FLASK_ENV
        value: production

      - key: MINIO_ENDPOINT
        value: https://minio.yourdomain.com
      - key: MINIO_ACCESS_KEY
        sync: false
      - key: MINIO_SECRET_KEY
        sync: false

      - key: AWS_ACCESS_KEY
        sync: false
      - key: AWS_SECRET_KEY
        sync: false
      - key: AWS_BUCKET
        value: your-bucket-name

      - key: MONGO_URI
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false

    healthCheckPath: /health
